<div class="container">
  <div class="row dashboard">
    <!-- LEFT COLOUMN -->
    <div class="col-xs-4 col-sm-2 col-md-2 col-lg-3">
      <!-- BUTTON MENU -->
      <div class="btn-group-vertical" role="group" aria-label="...">
          <button type="button" class="btn btn-default"
            *ngFor="let spirit of spirits" 
            (click)="selectSpirit(spirit)"
            [class.active]="spirit === activeSpirit">
            {{spirit.kind}}         
          </button>
      </div>
    </div>
      
      <!--RIGHT COLOUMN-->
      <div class="col-xs-8 col-sm-10 col-md-10 col-lg-9">
        <!--if no spirit has been selected-->
        <div class="jumbotron" *ngIf="!activeSpirit">
          <h3>Welcome, please select a spirit from our list</h3>
        </div>
        <!--If a spirit has been selected-->
        <app-spirit [spirit]="activeSpirit"></app-spirit>
      </div>

 
  </div>
</div>