.dashboard{
  margin: 36px 0;
}

button.btn{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 9px;
  padding-bottom: 9px;
  float: right;
}

button.btn.active{
  background-color: lightcyan;
  color: #3a3a3a;
  box-shadow: none;
}
