<div class="container">
  <div class="row dashboard">

    <!-- LEFT COLOUMN -->
    <div class="col-xs-2 col-md-3 col-lg-3">
      <!-- BUTTON MENU -->
      <div class="btn-group-vertical" role="group" aria-label="...">
          <button type="button" class="btn btn-default"
            *ngFor="let spirit of spirits" 
            (click)="selectSpirit(spirit)"
            [class.active]="spirit === activeSpirit">
            {{spirit.kind}}         
          </button>
      </div>
    </div>

    <!--RIGHT COLOUMN -->
    <div class="col-xs-10 col-sm-8 col-md-9 col-lg-9">

      <!--RENDER INFORMATION-->
      <!--if a spirit is selected-->
      <div class="jumbotron" *ngIf="activeSpirit">
        <div class="btn-group-vertical" role="group" aria-label="...">
            <p>{{activeSpirit.description}}<p>
        </div>
      </div>
      <!--if no spirit has been selected-->
      <div class="jumbotron" *ngIf="!activeSpirit">
          <h3>Welcome, please select a spirit from our list</h3>
      </div>

    </div>
  </div>
</div>
