.dashboard{
  margin: 36px 0;
}

button{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 9px;
  padding-bottom: 9px;
}

button.btn.active{
  background-color: lightcyan;
  color: #3a3a3a;
  box-shadow: none;
}

