 <form class="form-horizontal">
  <fieldset>
    <legend>Add a new spirit</legend>
    <div class="form-group">
      <label for="spirit_name" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Spirit Name</label>
      <div class="col-xs-8 col-sm-8 col-md-8 st col-lg-8">
        <input type="text" class="form-control" id="spirit_name" placeholder="add a new spirit">
      </div>
    </div>

    <div class="form-group">
      <label for="textArea" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label">Description</label>
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <textarea class="form-control" rows="4" id="textArea"></textarea>
      </div>
    </div>

  </fieldset>
</form>